[submodule "python/copernicus-api"]
	path = python/copernicus-api
	url = https://github.com/gronostajo/copernicus-api
[submodule "public/lib/angular-route-styles"]
	path = public/lib/angular-route-styles
	url = git://github.com/tennisgent/angular-route-styles
[submodule "public/lib/angular-local-storage"]
	path = public/lib/angular-local-storage
	url = git://github.com/grevory/angular-local-storage
