<div>
	<style type="text/css" style="display: none">
	    /* Some CSS */
	</style>
	<div>
		Project name: <input type="text" ng-model="projectSettings.projectName"/>
	</div>

	<div>
		Device:
		<!--<select ng-model="projectSettings.deviceId"
				ng-options="device.id as device.name for device in projectSettings.allDevices">-->
		
		<select ng-model="projectSettings.deviceId">
			<option ng-repeat="(deviceId, device) in projectSettings.allDevices"
					ng-value="deviceId"
					ng-selected="deviceId == projectSettings.deviceId">{{device.name}}</option>
		</select>
		<!--
		<select ng-model="projectSettings.deviceId"
				ng-options="device.id as device.name for device in projectSettings.allDevices">-->
		<div>
			<div class="device-description">
				{{projectSettings.getDevice().description}}			
			</div>
			<img ng-if="projectSettings.getDevice() && projectSettings.getDevice().imageFile"
				 ng-src="/devices/{{projectSettings.deviceId}}/{{projectSettings.getDevice().imageFile}}"
				 class="device-image"/>
		</div>
	</div>

</div>