 <div class="skin-blue sidebar-mini">
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <img ng-src="/img/logo.png" alt="logo">
      </div>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Project</li>
        <li><a ng-click="appCtrl.openNewProjectModal()">New project</a></li>
        <li><a ng-click="appCtrl.openOpeningProjectModal()">Open project</a></li>
        <li><a ng-click="appCtrl.openSavingProjectModal()">Save project</a></li>
        <input id="file-input" type="file" ng-show="false" iob-file-loaded="appCtrl.openProjectFromJson($fileContent)"/>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <section class="content">
      <div class="blocks-and-code">
        <div id="blockly-area">
          <div id="blockly-div"></div>
        </div>
        <div id="code-preview" ng-show="workspaceCtrl.isCodeVisible">
          <pre><code data-language="python">{{workspaceCtrl.code}}</code></pre>
        </div>
      </div>
      <div class="workspace-controls">
        <button ng-click="workspaceCtrl.clearOutConsole()">Clear console</button>
        <button ng-click="workspaceCtrl.toggleCodeVisible()">Show code</button>
        <button ng-click="workspaceCtrl.runCode()">Run</button>
        <button ng-click="workspaceCtrl.stopProgram()">Stop program</button>
        <button ng-click="workspaceCtrl.cleanWorkspace()">Clean workspace</button>
        <button ng-click="workspaceCtrl.toggleConsoleVisible()">Toggle Console</button>
      </div>
      <div class="consoles" ng-show="workspaceCtrl.isConsoleVisible">
        <textarea id="console-out" class="console" readonly></textarea>
        <input type="text" id="console-in" class="console"
                ng-model="workspaceCtrl.consoleInText" ng-keyup="workspaceCtrl.consoleInKeyUp($event)"></input>
      </div>
    </section>
  </div>
</div>
